set timeout=1
set default=0

# reference: https://wiki.osdev.org/GOP
# If your kernel uses GRUB, you need to insert a module called "all_video"
# before loading the kernel to add UEFI GOP compatibility. Not doing so will
# display a message saying "WARNING no console will be available to OS".
insmod all_video

menuentry "myos" {
    multiboot2 /boot/myos.kernel
    boot
}
