KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS= \
$(KERNEL_ARCHDIR)/boot.o \
$(KERNEL_ARCHDIR)/tty.o \
$(KERNEL_ARCHDIR)/crti.o \
$(KERNEL_ARCHDIR)/crtbegin.o \
$(KERNEL_ARCHDIR)/crtend.o \
$(KERNEL_ARCHDIR)/crtn.o \

KERNEL_ARCH_OBJS := $(KERNEL_ARCH_OBJS:%.o=$(BUILDDIR)/%.o)
